<div class="edit_container">

  <h1>Edit Post</h1>

<div class="edit_box">
  <%= render 'form', post: @post %>

  <div class="link_box">
    <%= link_to '詳細へ', @post %> |
    <%= link_to '一覧へ', posts_path %>
  </div>
  
</div>

</div>
